.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario div {
  width: 100%;
}

.formulario .label-grande {
  width: 50%;
  display: inline-block;
  text-align: right;
}

.formulario .linha-formulario {
  margin-bottom: 15px;
}

.xp-line div {
  display: inline-block;
  width: 50%;
}

@media screen and (max-width: 693px) {
  .formulario input[type="text"],
  [type="tel"] {
    width: 100%;
  }
  .formulario .label-grande {
    width: 100%;
    text-align: center;
  }
  .formulario small {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  .xp-line {
    flex-direction: column;
  }
  .xp-line div {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
